* {
    margin: 0;
  }
  
.header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: gray;
    padding: 10px;
  }
  
  a {
    text-decoration: none;
    color: #0a3641;
  }
  
  #menu-search {
    border-radius: 18.5px;
    background: #eeeeee;
  }