* {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Header */

header {
  position: relative;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
}

.header {
  display: flex;
  background-color: white;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
}

.header img {
  width: 119px;
  height: 53;
}

.top-bar p {
  background-color: #0a3641;
  color: white;
  text-align: center;
  margin: 0;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
}

nav li {
  padding-inline: 30px;
}

nav a {
  color: #0a3641;
  text-decoration: none;
  font-weight: bolder;
  font-size: 24px;
}

a:hover {
  color:#175868;
}

form {
  margin: 0;
}

input[type="text"] {
  padding: 10px;
  border: none;
  border-radius: 18px;
  background-color: lightgray;
}

/* Main */

main img {
  max-width: 100%;
}

main {
  flex: 1;
}
.slider {
  width: 85vmin;
  position: relative;
  transform: translate(-50%, -50%);
  left: 50%;
  overflow: hidden;
}
.slide {
  display: flex;
  animation: slide 16s infinite;
}
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(0);
  }
  30% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(-100%);
  }
  55% {
    transform: translateX(-200%);
  }
  75% {
    transform: translateX(-200%);
  }
  80% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(-300%);
  }
}


.categories {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.categories img {
  width: 180px;
  height: 250.09px;
  padding: 0px 10px 40px 10px;
}

.categories_mobile {
  display: none;
}


/* Footer */

footer {
  background-color: #0a3641;
  color: white;
  padding: 20px;
  justify-content: center;
  align-items: baseline;
  position: sticky;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}

.img {
  grid-row: 1;
  grid-column: 2/4;
}

.service {
  grid-row: 2;
  grid-column: 2;
}

.about {
  grid-row: 2;
  grid-column: 3;
}
.socials {
  grid-row: 2;
  grid-column: 4;
  align-self: end;
}
.socials img {
  width: 30.73px;
  height: 30px;
  padding: 10px;
}

footer img {
  width: 170px;
  height: 53;
}

footer ul {
  list-style: none;
  padding: 0px 10px 0px 10px;
}
footer li {
  margin-bottom: 15px;
}

footer a {
  color: white;
  text-decoration: none;
}

h4 {
  font-weight: bold;
}

/* Media */

@media (max-width: 600px) {
  nav,
  form {
    display: none;
    position: fixed;
  }

  footer a {
    font-size: 14px;
  }

  .container {
    grid-template-columns: max-content;
  }
  .categories {
    display: none;
  }
  .categories_mobile img {
    width: 180px;
    height: 250.09px;
    padding: 0px 10px 40px 10px;
  }

  .socials {
    grid-row: 3;
    grid-column: 2/4;
  }

  .categories_mobile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
  }
}